.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
 }
 header{
    /* width: 1440px; */
    height: 698px; 
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin: 0 auto;
    /* background-color: #4E47FF; */
    background-image: url(../image/Hero-bg.png);
 }
nav{
    width: 1140px;
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 158px;
}
nav h1{
    
    font-size: 34px;
    
    font-weight: bold;
    color: #4E47FF;
    width: 91px;
    height: 51px;
    margin-top: 50px;
}
nav button{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    width: 132px;
    height: 48px;
}
.title-bar{
    width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}
.title{
   
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    width: 905px;
    height: 152px;
    /* padding: 0 0 0 200px; */
}
.title-bar button{
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    width: 190px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    
      
}
.title-contant h2{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    width: 512px;
    height: 49px;

}
.title-contant p{
    font-size: 24px;
    color: #252432;
    /* gap: 10px; */
    width: 517px;
    height: 60px;

    

}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1140px;
    /* height: 328px; */ 
     margin-top: 110px; 
    margin-left: 300px;
    margin-right: 300px;
    /* gap: 300px;   */
   
}
.title-contant button{
    background-color: #4E47FF;
    padding:20px 10px;
    border-radius: 10px;
    border: none;
    width: 229px;
    height: 48px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
   
}
.title-pic img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
    
}
.banner-2{
    background-color: #7e7c9b52;
    border-radius: 10px;
    width: 1140px;
    height: 250px;
    padding: 40px 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 104px;
   
}
.contant-head h3{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.boxs{
    display: flex;
    justify-content: space-between;
    padding: 10px 142px;
    
}
.box {
    /* border: 1px solid red; */
    width: 160px;
    height: 97;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.box p{
    font-size: 15px;
    color: #000000;
    /* width: 120px; */
    /* height: 24px; */
}
.heading h2{
   
    /* margin-top: 140px; */
    width: 1140px;
    height: 49px;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin: 140px auto;
    text-align: center;
    margin-bottom: 50px;

}
.star-box{
    border: 2px solid  #F2EDED;
    box-shadow: 5px 5px 5px #F2EDED;
    width: 366px;
    height: 200px;
    padding: 24px;
    border-radius: 10px;
    margin-left: 110px;
    margin-right: 110px;
}
.stars{
    margin-left: 151px;
    margin-right: 151px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
}
.box-title h2{
    font-size: 50px;
    font-weight: bold;
    width: 516px;
    height: 60px;
    color: #000000;
}

.big-title{
    width: 528px;
    height: 200px;
    font-size: 80px;
    font-weight: bold;
    /* padding: 150px 150px; */
}
.all{
   background-color: #8d8ddd4b;
    display: flex;
    padding: 130px 130px;
    margin-top: 92px;
    gap: 300px;
}
input[type="text"] , input[type="email"],form [type="textarea"]{
    height: 70px;
    border-radius: 10px;
    background-color: #ffffff;
    display: block;
    width: 497px;
    padding: 10px 20px;
    margin-bottom: 24px;
    /* border: none; */
    font-size: 16px;

}
.btn{
    width: 530px;
    height: 62px;
    background-color: #4E47FF;
    padding: 19px 101px;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.foot {
    display: flex;
    justify-content: center;
}

.footer-title h1{
    font-size: 100px;
    width: 291px;
    height: 121px;
    color: #4E47FF;
    
}
.footer-title p{
    width: 531px;
    height: 48px;
    color: #8987A1;
}
.nav  li{
    list-style: none;
    display: inline;
    margin: 20px;


}
.nav li a{
    text-decoration: none;
    color: #8987A1;
    
}
.nav{
    display: flex;
    justify-content: center;
}